<h2>Login you ass</h2>
{{>errors}}
<form method="POST">
	<input name="login[user]" id="login_user" />
	<input name="login[pass]" id="login_pass" type="password" />
	<input name="login[yeaa]" id="login_yeaa" type="submit" />
</form>