<h2>Login you ass</h2>
{{>errors}}
<form method="POST">
	<input name="login[username]" id="login_username" />
	<input name="login[password]" id="login_password" type="password" />
	<input name="login[yeaa]" id="login_yeaa" type="submit" />
</form>