<h2>Register you shit head</h2>
{{>errors}}
<form method="POST">
	<input name="register[username]" id="register_username" />
	<input name="register[email]" id="register_email" />
	<input name="register[password]" id="register_password" type="password" />
	<input name="register[confirm]" id="register_confirm" type="password" />
	<input name="register[yeaa]" id="login_yeaa" type="submit" />
</form>